* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* shared style */
.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 800;
}

.orange-color {
    color: #FD6E0A;
}
.btn{
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #FFFFFF;
}

/* main style */
header {
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

nav li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

nav .menu {
    display: flex;
    gap: 51px;
    align-items: center;
}